<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/mini-logo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>MultiShop Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>

            <li> <a href="/Admin/Category/Index"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/Index"> <i class="fa fa-car"></i> <span>Ürünler</span></a> </li>
            <li> <a href="/Admin/Product/ResultProductsWithCategory"> <i class="fa fa-car"></i> <span>Ürün Detay Listesi</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index"> <i class="fa fa-car"></i> <span>Öne Çıkanlar</span></a> </li>
            <li> <a href="/Default/Index"> <i class="fa fa-car"></i> <span>Siteyi İzle</span></a> </li>
            <li> <a href="/Admin/SpecialOffter/Index"> <i class="fa fa-car"></i> <span>İndirimler</span></a> </li>
            <li> <a href="#"> <i class="fa fa-car"></i> <span>Markalar</span></a> </li>
            <li> <a href="/Admin/About/Index"> <i class="fa fa-car"></i> <span>Hakkımda</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-car"></i> <span>Yorumlar</span></a> </li>

        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
