
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_UILayout/_UILayout.cshtml";
}


    <!-- Navbar End -->
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Sepet</a>
                    <span class="breadcrumb-item active">Sepet Detayi</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Cart Start -->
    <div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCardProductListComponetPartial")

        @await Component.InvokeAsync("_ShoppingCardDiscountComponentPartial")
          
        </div>
    </div>
    <!-- Cart End -->



